.all{
    height: 500px;
    /*border: solid 1px #000;*/
}

.m-left{
    height: 500px;
    /*border: solid 1px #111;*/
}

.m-right{
    height: 500px;
    border: solid 1px #111;
}

#content{
    height: 400px;
    border: solid 1px #222;
    padding: 10px;
    overflow-y: scroll;
}

#input{
    height: 100px;
    border: solid 1px #222;
    padding-top: 20px;
}

.btn-primary{
    padding: 10px;
}

.users .item{
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
}
.users{
    padding: 10px;
}

.users .col-md-4{
    padding: 0px;
}

.users h4{
    margin: 0px;
}

.users .col-md-8{
    padding: 0px;
}

.container{
    padding-top: 30px;
}

#profiles li{
    padding: 5px;
    border: solid 1px #ddd;
}

#profiles .active{
    border: solid 1.5px #00bfff;
}

#bak{
    display: none;
}